*           text=auto
*.nuspec    text eol=lf encoding=utf-8
*.md        text eol=lf encoding=utf-8
*.ps1       text eol=lf encoding=utf-8
*.txt       text eol=lf encoding=utf-8
*.py        text eol=lf encoding=utf-8
*.yml       text eol=lf encoding=utf-8
